.pokeNames{
    display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center; 
  background: rgb(105,105,105, 1)
}

.gold{
  background-color: gold;
}

.poke.hover-zoom:hover{
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.paginationsBtns{
  width: 80%; 
  height: 40px;
  list-style: none; 
  display: flex;
}

.paginationsBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}

.paginationsBtns a:hover {
  color: white;
  background-color: blue;
}

.paginationActive a {
  color: White;
  background-color: blue;
}

.search{
  padding: 10px;
  /* background: rgb(105,105,105, 1) */
}

.searchIcon{
  align-self: flex-end;
  margin-bottom: 5px;
  text-align: center;
}

.input{
  width: 200px;
  margin: 5px
} 