.pokeType {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  align-items: center;
  justify-content: center;
}

.silver {
  /* background-color: rgba(61, 125, 202, 1); */
}
